/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  homePage = 'https://github.com/BU-ISCIII/SARS_Cov2_consensus-nf'
  description = 'This is a project for SARS-Cov2 Illumina analysis for consensus genome generation'
  mainScript = 'main.nf'
}

// Global default params, used in configs
params {
  ver = '1.0' //Pipeline version
  nf_required_version = '0.27.6' //Minimum version of Nextflow required

  reads="$baseDir/data/samples/*.fastq.gz"
  outdir='results'

}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }

  docker {
    includeConfig 'conf/docker.config'
  }

  singularity {
  	includeConfig 'conf/singularity.config'
  }

  hpc_isciii {
    includeConfig 'conf/base.config'
    includeConfig 'conf/hpc_isciii.conf'
  }

  testing {
  	// TODO
  }

  aws {
  	// TO DO
  }

  none {
    // Don't load any config (for use with custom home configs)
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// By default output execution reports
timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/DAG.svg"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    if(obj.compareTo(params.max_memory) == 1)
      return params.max_memory
    else
      return obj
  } else if(type == 'time'){
    if(obj.compareTo(params.max_time) == 1)
      return params.max_time
    else
      return obj
  } else if(type == 'cpus'){
    return Math.min( obj, params.max_cpus )
  }
}
