/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

params {
	// Defaults only, expecting to be overwritten
	max_memory = 64.GB
	max_cpus = 20
	max_time = 240.h
}

process{
	cpus = { check_max( 1 * task.attempt, 'cpus' ) }
	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	time = { check_max( 2.h * task.attempt, 'time' ) }

	errorStrategy = { task.exitStatus in [1,143,137,104,134,139,138] ? 'retry' : 'finish' }
	maxRetries = 3
	//maxErrors = '-1'
}

env {
     _JAVA_OPTIONS = '-Xmx2G -Xms2G'
     PICARD_PATH = "/opt/picard-tools/picard-tools-1.140/picard.jar"
     TRIMMOMATIC_PATH = "/opt/Trimmomatic-0.33"
     LC_ALL="en_US.utf-8"
     LANG="en_US.utf-8"
     NXF_TEMP="${params.outdir}../TMP/"
}
