/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

docker {
  enabled = true
}

executor{
	cpus = 1
	memory = 8.GB
}

process {
  // Path to container
  container = 'buisciii/rnaseq-nf'
  executor = 'local'

  cpus = 1
  //maxForks = 1
  memory = '8 GB'
  //time = 2.h

}

env {
     _JAVA_OPTIONS = '-Xmx2G'
     //JAVA_OPTS = "-Xms512M"
     PILON_PATH = "/scif/apps/pilon/bin/pilon-1.22.jar"
     TRIMMOMATIC_PATH = "/scif/apps/trimmomatic/Trimmomatic-0.38"
     LC_ALL="en_GB.utf-8"
     LANG="en_GB.utf-8"
}
