executor{
	cpus=8
	memory=20.GB
}

process{
	conda = '/home/smonzon/miniconda3/envs/virus_illumina_assembly/'

	withLabel:'small'{
			cpus = { check_max( 2, 'cpus' ) }
			memory = { check_max( 1.GB * task.attempt, 'memory' ) }
			time = { check_max( 1.h * task.attempt, 'time' ) }
			}
	withName:'mapping_host'{
			cpus = { check_max( 4, 'cpus' ) }
			memory = { check_max( 10.GB * task.attempt, 'memory' ) }
			time = { check_max( 2.h * task.attempt, 'time' ) }
			}
}
