
/*
 * -------------------------------------------------
 *  Nextflow config file for use with Singularity
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

singularity {
  enabled = true
}
executor{
	cpus = 1
	memory = 8.GB
}
process {
  // Path to container
  container = './rnaseq-nf.simg'
  executor = 'local'

  cpus = 1
  //maxForks = 1
  memory = '8 GB'
  //time = 2.h

}

env {
     _JAVA_OPTIONS = '-Xmx2G'
     //JAVA_OPTS = "-Xms512M"
     PICARD_HOME = "/scif/apps/picard/bin"
     PILON_PATH = "/scif/apps/pilon/bin/pilon-1.22.jar"
     TRIMMOMATIC_PATH = "/scif/apps/trimmomatic/Trimmomatic-0.38"
     LC_ALL="en_US.utf8"
     LANG="en_US.utf8"
  	  CLASSPATH='/scif/apps/varscan/varscan-2.3.9/varscan-2.3.9.tar:/scif/apps/picard/bin/picard.jar:/scif/apps/gatk/gatk-3.8/GenomeAnalysisTK.jar'
     SRST2_SAMTOOLS='/scif/apps/srst2/samtools-0.1.18/samtools'
}
